body{
    font-family: 'Work Sans';
}

.container{
    display: flex;
}
/* container setting*/
.banner_container{
    background-image: url('../images/banner/banner1.png');
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-around; 
}
.second_container{
    padding: 20px;
    height: 700px;
    justify-content: space-around;
}
.fourth_container{
    position: relative;
    text-align: center;
    margin: 100px 150px 100px 150px;
}
.planner_container{
    padding: 30px;
    justify-content: space-evenly;
}
.footer_container{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    padding-left:30px;
    padding-bottom: 40px;
}


/* banner styles */
.banner_image{
    width: 550px;
    height: 400px;
    color: red;
}

.banner_description{
    width: 40%;
    padding-top: 200px ;
    text-align: center;
}
.banner_heading{
    width: 60%;
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
}
.banner_detail_text{
    width: 60%;
    text-align: right;
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
}

/* second contianer styles */
.second_container_text{
    /* padding: 30px; */
    display: block;
}
.second_container_heading{
    padding-top:150px;
    padding-left:10px;
    margin:30px;
    font-size: 40px;
    font-weight: bolder;
}

.second_container_list{
    list-style: none;

}
.second_container_description{
    padding-left:40px;
    padding-right:100px;
    color:rgba(0, 0, 0, 0.7);
    font-size: 15px;
}

.middle_image{
    color:red;
    margin-left:150px;
}

/* planner section styles */
.planner_section{
    text-align: center;
}
.planner_caption{
    text-align: center;
    margin:100px 30px 50px 30px;
}

ul  li:before{
    content:'✓';
    color:rgba(10, 235, 77, 0.7);
    font-weight: bolder;
    margin-right: 5px;
}
.btn-primary{
    margin-top: 20px;
    padding-left:30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.text_over_image{
    text-align: left;
    color: white;
    position:absolute;
    top:15%;
    left:10%;
}
.gradient_image{
    background-image: linear-gradient(rgba(192, 17, 17, 0.6),rgba(0,0,0,0.03)), url(../images/watch.png);
    background-size: cover;
    height:300px;
    border-radius: 10px;
}
.over_image_btn{ 
    position:absolute;
    top:55%;
    left:10%;
    background-color: antiquewhite;
    color:red;
    font-weight: bold;
    border:none;
}


.footer_description{
    text-align: justify;
}
.footer_left{ 
    display: block;
}
.footer_icons{
    display: flex;
}
.icon{
    margin-right:10px;
}